h1 {
/* Heading H1 */

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 120%;
/* or 67px */


color: #000000;


/* Inside auto layout */

/* flex: none; */
/* order: 0;
flex-grow: 0; */
}

h2 {
  /* Heading H2 */


  /* width: 253px; */
  /* height: 58px; */

  /* Heading H2 */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  /* identical to box height, or 58px */


  color: #000000;
}

h3 {
  /* Heading H3 */


  /* width: 127px;
  height: 34px; */

  /* Heading H3 */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  /* identical to box height, or 34px */


  color: #000000;
}

button {
  /* Button */


  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 32px;
  gap: 8px;

  /* width: 128px;
  height: 52px; */

  /* Primary */

  background: #5E3BEE;
  border-radius: 4px;
  color: white;
}